.gallery-container {
  overflow: hidden;
  position: relative;

  .gallery-slide {
    width: 100%;
  }

  .gallery-buttons__prev,
  .gallery-buttons__next {
    position: absolute;
    top: 50%;
    color: #ffffff;
    font-size: 30px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .gallery-buttons__prev {
    left: 5px;
    right: auto;
  }

  .gallery-buttons__next {
    right: 5px;
    left: auto;
  }
}